<div class="container-fluid">
    <div class="row">
        <div class="ldm__header">
            <h1 class="ldm__h1">Calculateur d’économie&nbsp;LED</h1>
        </div>

        <div wrap-height=".ldm__content-wrapper" class="loading-icon-wrapper" ng-show="showLoadingWrapper()">
            <span class="loading-icon-helper"></span>
            <img class="loading-icon" src="/img/ring-alt.svg" alt="rdv-loading-icon">
        </div>

        <div class="ldm__content-wrapper">
            <div class="ldm__content">
                <form>
                    <div class="row ldm__row ldm__row ldm__row-first">
                        <div class="ldm__col col-md-2 col-sm-12 col-xs-12">
                            <h4 class="ldm__h4 ldm__h4-halogenes">HALOGÈNES</h4>
                        </div>

                        <!-- STEP 1, 2 (HALOGEN) -->
                        <out class="" ng-show="isPrepareView()">
                            <div class="ldm__col col-md-2 col-sm-12 col-xs-12">
                                <label class="ldm__label">Puissance</label>
                                <input type="number" step="0.01" ng-required="true" class="ldm__input" placeholder="en Watts" ng-model="fields.halogen.power" tabindex="1" />
                            </div>
                            <div class="ldm__col col-md-2 col-sm-12 col-xs-12">
                                <label class="ldm__label">Durée&nbsp;de&nbsp;vie</label>
                                <input type="number" step="0.01" ng-required="true" class="ldm__input" placeholder="en Heures" ng-model="fields.halogen.lifetime" tabindex="2" />
                            </div>
                            <div class="ldm__col col-md-2 col-sm-12 col-xs-12">
                                <label class="ldm__label">Prix</label>
                                <input type="number" step="0.01" ng-required="true" class="ldm__input" placeholder="en €" ng-model="fields.halogen.price" tabindex="3" />
                            </div>
                            <div class="ldm__col col-md-2 col-sm-12 col-xs-12">
                                <label class="ldm__label">Quantité</label>
                                <input type="number" step="0.01" ng-required="true" class="ldm__input" placeholder="Unités" ng-model="fields.halogen.quantity" tabindex="4" />
                            </div>
                        </out>
                        <!-- STEP 3 (HALOGEN) -->
                        <out ng-show="isResultView()">
                            <div class="ldm__col col-md-3 col-sm-12 col-xs-12">
                                <label class="ldm__step-2__title ldm__label ldm__label-long col-sm-6 col-xs-6 col-tn-12">Énergie annuel</label>
                                <p class="ldm__halogen-value col-sm-6 col-xs-6 col-tn-12" ng-bind="results.halogen.A | ledValue | kwh">
                                    3400 kWh
                                </p>
                            </div>

                            <div class="ldm__col col-md-3 col-sm-12 col-xs-12">
                                <label class="ldm__step-2__title ldm__label ldm__label-long col-sm-6 col-xs-6 col-tn-12">Coût énergétique annuel</label>
                                <p class="ldm__halogen-value col-sm-6 col-xs-6 col-tn-12" ng-bind="results.halogen.C | ledValue | euros">
                                    450 €
                                </p>
                            </div>
                            <div class="ldm__col col-md-3 col-sm-12 col-xs-12">
                                <label class="ldm__step-2__title ldm__label ldm__label-long col-sm-6 col-xs-6 col-tn-12">CO2 annuel</label>
                                <p class="ldm__halogen-value col-sm-6 col-xs-6 col-tn-12" ng-bind="results.halogen.B | ledValue | kgs">
                                    2500 KGs
                                </p>
                            </div>
                            <!--
                            <div class="ldm__col col-md-2 col-sm-12 col-xs-12">
                                <label class="ldm__step-2__title ldm__label ldm__label-long col-sm-6 col-xs-6 col-tn-12">coût total annuel (énergie + matériel)</label>
                                <p class="ldm__halogen-value col-sm-6 col-xs-6 col-tn-12" ng-bind="results.halogen.D | ledValue | euros">
                                    550 €
                                </p>
                            </div>
                            -->
                        </out>


                    </div>


                    <div class="row ldm__row">
                        <div class="ldm__col col-md-2 col-sm-12 col-xs-12">
                            <h4 class="ldm__h4">LED</h4>
                        </div>

                        <!-- STEP 1,2 (LED) -->
                        <out class="" ng-show="isPrepareView()">
                            <div class="ldm__col col-md-2 col-sm-12 col-xs-12">
                                <label class="ldm__label col-sm-6 col-xs-6 col-tn-12 hidden-md hidden-lg">Puissance</label>
                                <input type="number" step="0.01" ng-required="true" class="ldm__input col-sm-6 col-xs-6 col-tn-12" placeholder="en Watts" ng-model="fields.led.power" tabindex="5" />
                            </div>
                            <div class="ldm__col col-md-2 col-sm-12 col-xs-12">
                                <label class="ldm__label col-sm-6 col-xs-6 col-tn-12 hidden-md hidden-lg">Durée&nbsp;de&nbsp;vie</label>
                                <input type="number" step="0.01" ng-required="true" class="ldm__input col-sm-6 col-xs-6 col-tn-12" placeholder="en Heures" ng-model="fields.led.lifetime" tabindex="6" />
                            </div>
                            <div class="ldm__col col-md-2 col-sm-12 col-xs-12">
                                <label class="ldm__label col-sm-6 col-xs-6 col-tn-12 hidden-md hidden-lg">Prix</label>
                                <input type="number" step="0.01" ng-required="true" class="ldm__input col-sm-6 col-xs-6 col-tn-12" placeholder="en €" ng-model="fields.led.price" tabindex="7" />
                            </div>
                            <div class="ldm__col col-md-2 col-sm-12 col-xs-12">
                                <label class="ldm__label col-sm-6 col-xs-6 col-tn-12 hidden-md hidden-lg">Quantité</label>
                                <input type="number" step="0.01" ng-required="true" class="ldm__input col-sm-6 col-xs-6 col-tn-12" placeholder="Unités" ng-model="fields.led.quantity" tabindex="8" />
                            </div>
                        </out>

                        <!-- STEP 3 (LED) -->
                        <out ng-show="isResultView()">
                            <div class="ldm__col col-md-3 col-sm-12 col-xs-12">
                                <label class="ldm__step-2__title ldm__label ldm__label-long col-sm-6 col-xs-6 col-tn-12 hidden-md hidden-lg">Énergie annuel</label>
                                <p class="ldm__led-value col-sm-6 col-xs-6 col-tn-12" ng-bind="results.led.A | ledValue | kwh">
                                    3400 kWh
                                </p>
                            </div>
                            <div class="ldm__col col-md-3 col-sm-12 col-xs-12">
                                <label class="ldm__step-2__title ldm__label ldm__label-long col-sm-6 col-xs-6 col-tn-12 hidden-md hidden-lg">Coût énergétique annuel</label>
                                <p class="ldm__led-value col-sm-6 col-xs-6 col-tn-12" ng-bind="results.led.C | ledValue | euros">
                                    450 €
                                </p>
                            </div>
                            <div class="ldm__col col-md-3 col-sm-12 col-xs-12">
                                <label class="ldm__step-2__title ldm__label ldm__label-long col-sm-6 col-xs-6 col-tn-12 hidden-md hidden-lg">CO2 annuel</label>
                                <p class="ldm__led-value col-sm-6 col-xs-6 col-tn-12" ng-bind="results.led.B | ledValue | kgs">
                                    2500 KGs
                                </p>
                            </div>
                            <!--
                            <div class="ldm__col col-md-2 col-sm-12 col-xs-12">
                                <label class="ldm__step-2__title ldm__label ldm__label-long col-sm-6 col-xs-6 col-tn-12 hidden-md hidden-lg">coût total annuel (énergie + matériel)</label>
                                <p class="ldm__led-value col-sm-6 col-xs-6 col-tn-12" ng-bind="results.led.D | ledValue | euros">
                                    550 €
                                </p>
                            </div>
                            -->
                        </out>

                    </div>

                    <!-- STEP 3 (ECONOMIES ROW) -->
                    <div class="row ldm__row ldm__row-separator" ng-show="isResultView()">


                        <div class="ldm__col col-sm-12">
                            <div class="ldm__saving-box row">
                                <div class="ldm__col col-md-2 col-sm-12 col-xs-12">

                                    <h3 class="ldm__saving-box__title">Vous économisez</h3>

                                </div>
                                <div class="ldm__col col-md-3 col-sm-12 col-xs-12">
                                    <div class="hidden-md hidden-lg">
                                        <label class="ldm__step-2__title ldm__label ldm__label-long col-sm-12 col-xs-12 col-tn-12 hidden-md hidden-lg">Énergie annuel</label>
                                    </div>
                                    <img class="ldm__saving-box__icon" src="/img/icons/icon-energy-use.jpg">
                                    <p class="ldm__saving-box__value" ng-bind="results.savings.A | ledValue | kwh">1 200 kWh</p>
                                </div>
                                <div class="ldm__col col-md-3 col-sm-12 col-xs-12">
                                    <div class="hidden-md hidden-lg">
                                        <label class="ldm__step-2__title ldm__label ldm__label-long col-sm-12 col-xs-12 col-tn-12 hidden-md hidden-lg">Coût énergétique annuel</label>
                                    </div>
                                    <img class="ldm__saving-box__icon" src="/img/icons/icon-energy-savings.jpg">
                                    <p class="ldm__saving-box__value" ng-bind="results.savings.C | ledValue | euros">300 €</p>
                                </div>
                                <div class="ldm__col col-md-3 col-sm-12 col-xs-12">
                                    <div class="hidden-md hidden-lg">
                                        <label class="ldm__step-2__title ldm__label ldm__label-long col-sm-12 col-xs-12 col-tn-12 hidden-md hidden-lg">CO2 annuel</label>
                                    </div>
                                    <img class="ldm__saving-box__icon" src="/img/icons/icon-energy-reuse.jpg">
                                    <p class="ldm__saving-box__value" ng-bind="results.savings.B | ledValue | kgs">900 KGs</p>
                                </div>
                                <!--
                                <div class="ldm__col col-md-2 col-sm-12 col-xs-12">
                                    <div class="hidden-md hidden-lg">
                                        <label class="ldm__step-2__title ldm__label ldm__label-long col-sm-12 col-xs-12 col-tn-12 hidden-md hidden-lg">coût total annuel (énergie + matériel)</label>
                                    </div>
                                    <img class="ldm__saving-box__icon" src="/img/icons/icon-energy-price.jpg">
                                    <p class="ldm__saving-box__value" ng-bind="results.savings.D | ledValue | euros">200 €</p>
                                </div>
                                -->
                            </div>
                        </div>
                    </div>

                    <div class="row ldm__row" ng-show="isResultViewBuyMode()">
                        <div class="ldm__col col-md-4 col-sm-12 col-xs-12">
                            <h4 class="ldm__h4 left">Prix des LED</h4>
                        </div>
                        <div class="ldm__col col-md-3 col-md-offset-1  col-sm-12 col-xs-12">
                            <p class="ldm__led-value bottom col-sm-6 col-xs-6 col-tn-12" ng-bind="ledPrix() | ledValue | euros">
                            </p>
                        </div>
                    </div>
                    <div class="row ldm__row" ng-show="isResultViewBuyMode()">
                        <div class="ldm__col col-md-4 col-sm-12 col-xs-12">
                            <h4 class="ldm__h4 left">Durée de vie des LED</h4>
                        </div>
                        <div class="ldm__col col-md-3 col-md-offset-1 col-sm-12 col-xs-12">
                            <p class="ldm__led-value bottom col-sm-6 col-xs-6 col-tn-12" ng-bind="results.nyLed | years">
                            </p>
                        </div>
                    </div>
                    <div class="row ldm__row" ng-show="isResultViewBuyMode()">
                        <div class="ldm__col col-md-4 col-sm-12 col-xs-12">
                            <h4 class="ldm__h4 left">Temps pour rembourser les LED</h4>
                        </div>
                        <div class="ldm__col col-md-3 col-md-offset-1 col-sm-12 col-xs-12">
                            <p class="ldm__led-value bottom col-sm-6 col-xs-6 col-tn-12" ng-bind="ledCoveredDays() | ledValue | days">
                            </p>
                        </div>
                    </div>
                    <div class="row ldm__row" ng-show="isResultViewBuyMode()">
                        <div class="ldm__col col-md-4 col-sm-12 col-xs-12">
                            <h4 class="ldm__h4 left">Nombre d'années d'économie</h4>
                        </div>
                        <div class="ldm__col col-md-3 col-md-offset-1 col-sm-12 col-xs-12">
                            <p class="ldm__led-value bottom col-sm-6 col-xs-6 col-tn-12" ng-bind="yearsOfSaving() | years">
                            </p>
                        </div>
                    </div>
                    <div class="row ldm__row" ng-show="isResultViewBuyMode()">
                        <div class="ldm__col col-md-4 col-sm-12 col-xs-12">
                            <h4 class="ldm__h4 left">Economie sur 5 ans</h4>
                        </div>
                        <div class="ldm__col col-md-3 col-md-offset-1 col-sm-12 col-xs-12">
                            <p class="ldm__led-value bottom col-sm-6 col-xs-6 col-tn-12" ng-bind="fiveYearsSavings() | twoDecimals | euros">
                            </p>
                        </div>
                    </div>
                    
                    <div class="row ldm__row" ng-show="isResultViewRentMode()">
                        <div class="ldm__col col-md-4 col-sm-12 col-xs-12">
                            <h4 class="ldm__h4 left">Coût de la location par an</h4>
                        </div>
                        <div class="ldm__col col-md-3 col-md-offset-1 col-sm-12 col-xs-12">
                            <p class="ldm__led-value bottom col-sm-6 col-xs-6 col-tn-12" ng-bind="rentPrixPerYear() | twoDecimals | euros">
                            </p>
                        </div>
                    </div>
                    <div class="row ldm__row" ng-show="isResultViewRentMode()">
                        <div class="ldm__col col-md-4 col-sm-12 col-xs-12">
                            <h4 class="ldm__h4 left">Economie par an</h4>
                        </div>
                        <div class="ldm__col col-md-3 col-md-offset-1 col-sm-12 col-xs-12">
                            <p class="ldm__led-value bottom col-sm-6 col-xs-6 col-tn-12" ng-bind="rentYearSaving() | twoDecimals | euros">
                            </p>
                        </div>
                    </div>




                    <div class="row ldm__row ldm__row-separator" ng-show="isPrepareView()">
                        <!-- ACHAT / LOCATION ROW (STEPS 1/2) -->
                        <div class="ldm__col col-md-2 col-sm-12 col-xs-12">
                            <div class="row  ldm__row-first">
                                <div class="ldm__checkbox-group">
                                    <div class="squaredFour">
                                        <input type="checkbox" id="sf1" checked />
                                        <label for="sf1" radio="fields.isBuy" radio-value="true"></label>
                                    </div>
                                    <label class="ldm__checkbox-label">Achat</label> &nbsp;
                                    <div class="squaredFour">
                                        <input type="checkbox" id="sf2" />
                                        <label for="sf2" radio="fields.isBuy" radio-value="false"></label>
                                    </div>
                                    <label class="ldm__checkbox-label">Location</label>
                                </div>
                            </div>
                            <div class="row ldm__row ldm__row-first" ng-show="!fields.isBuy">
                                <div class="ldm__month-checkbox-group">
                                    <div class="squaredFour">
                                        <input type="checkbox" id="sf21" checked />
                                        <label for="sf21" radio="selectors.monthsDuration" radio-value="monthlyRentingRate.thirtySix"></label>
                                    </div>
                                    <label class="ldm__checkbox-label">36</label> &nbsp;
                                    <div class="squaredFour">
                                        <input type="checkbox" id="sf22" />
                                        <label for="sf22" radio="selectors.monthsDuration" radio-value="monthlyRentingRate.fortyEight"></label>
                                    </div>
                                    <label class="ldm__checkbox-label">48</label>&nbsp;
                                    <div class="squaredFour">
                                        <input type="checkbox" id="sf23" />
                                        <label for="sf23" radio="selectors.monthsDuration" radio-value="monthlyRentingRate.sixty"></label>
                                    </div>
                                    <label class="ldm__checkbox-label">60</label>
                                </div>
                            </div>
                        </div>
                        <div class="ldm__col col-md-2 col-md-offset-1 col-sm-12 col-xs-12">
                            <label class="ldm__label">Temps&nbsp;d&#39;utilisation</label>
                            <input type="number" step="0.01" ng-required="true" class="ldm__input" placeholder="heures / jour" ng-model="fields.hoursPerDay" tabindex="9" />
                        </div>
                        <div class="ldm__col col-md-2 col-sm-12 col-xs-12">
                            <label class="ldm__label">Jours par semaine</label>
                            <input type="number" step="0.01" ng-required="true" class="ldm__input" placeholder="ex : 5,7" ng-model="fields.daysPerWeek" tabindex="10" />
                        </div>
                        <div class="ldm__col col-md-2 col-sm-12 col-xs-12">
                            <label class="ldm__label">Prix du kWh</label>
                            <input type="number" step="0.01" ng-required="true" class="ldm__input" value="0.14" placeholder="ex : 0.14" ng-model="fields.pricePerKwh" tabindex="11" />
                        </div>
                    </div>


                    <input type="submit" class="ldm__hidden">
                </form>


                <!-- RESET / CONTACT -->
                <div class="row ldm__row ldm__row-separator-2">
                    <div class="ldm__col col-lg-3">
                        <button class="ldm__reset" ng-click="reset()" ng-show="isPrepareView()">
                            Réinitialiser
                        </button>

                        <button class="ldm__reset" ng-click="goBack()" ng-show="isResultView()">
                            Retour
                        </button>

                    </div>
                    <div class="ldm__col col-lg-9 main-button-wrapper">

                        <!-- STEP 1,2 (CALCULATE) -->
                        <button class="ldm__calculate " ng-show="isPrepareView()" ng-click="calculate()">
                            Calculez l’économie réalisée
                        </button>

                        <!-- STEP 3 (CONTACT BTN) -->
                        <button class="ldm__contact" ng-show="isResultView()" ng-click="contact()">
                            Nous contacter
                        </button>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
