<!DOCTYPE html>
<html>

<head>
    <title>Led simulation app</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="/css/bootstrap-xxs-tn.css" type="text/css" />
    <link rel="stylesheet" type="text/css" href="/dist/vendor/tingle.min.css">
    <link rel="stylesheet" type="text/css" href="/dist/css/main.css">
    {{> metas}}
</head>

<body class="">
    <div id="led-simulation-app" ng-controller="led-controller">
            <div ng-include="'/views/led-module.html'"></div>
    </div>
    {{> scripts}}
</body>

</html>
